DOCTYPE 
html
head

  link(rel="stylesheet", href="styles/main.css")
  title Front-End 
  != getBlock('scripts').toHTML()

body
  .container 
    .header 
        .header__btn.btn 
          button.btn__livedemo 
            img(src="images/sketch.png", alt="")
            span Live Demo 
          button.btn__addcart 
            img(src="images/shopping-cart 1.png", alt="")
            span Add to Cart 
          button.btn__addcollection 
            img(src="images/like.png", alt="")
            span Add to Collection 
        .header__menu.menu 
          ul.menu__list.list 
            li.features.list__item 
              img(src="images/stopwatch.png", alt="")
              a.list__item__link(href="#") Features 
            li.technical-details.list__item 
              img(src="images/settings.png", alt="")
              a.list__item__link(href="#") Technical Details 
            li.reviews.list__item
              img(src="images/star.png", alt="")
              a.list__item__link(href="#") Reviews 
            li.comments.list__item
              img(src="images/comments.png", alt="")
              a.list__item__link(href="#") Comments 
    .content 
      .content__title.title  
        h2.title__h2 You May Also Like 
        a.title__link View All Similar Templates > 
      .content__block.block-img  
          ul.list-img 
            li.list-img__img1 
              .header-list 
                span BESTELLER 
              .img 
                img(src="images/1.jpg", alt="")
              .footer-list 
                .list-small 
                  img(src="images/w.png", alt="")
                  .title-small
                    h3 MaBelle-Beauty S... 
                    p WorldPress Template 
                  span.like 
                    img(src="images/like 1.png", alt="")
                .stars 
                  span 
                    img(src="images/star 1.png", alt="")
                  span
                    img(src="images/star 1.png", alt="")
                  span
                    img(src="images/star 1.png", alt="")
                  span 
                    img(src="images/star 1.png", alt="")
                  span 
                    img(src="images/star 1.png", alt="")
                .price 
                  span $45 
            li.list-img__img2 
              .img 
                img(src="images/2.jpg", alt="")
              .footer-list 
                .list-small 
                  img(src="images/w.png", alt="")
                  .title-small 
                    h3 DreamCut 
                    p Responsive WorldP... 
                  span.like 
                    img(src="images/like 1.png", alt="")
                .stars2 
                  span 
                    img(src="images/star 1.png", alt="")
                  span
                    img(src="images/star 1.png", alt="")
                  span
                    img(src="images/star 1.png", alt="")
                  span 
                    img(src="images/star 1.png", alt="")
                  span 
                    img(src="images/star 1.png", alt="")
                .price2 
                  span $75 
            li.list-img__img3 
              .img 
                img(src="images/3.jpg", alt="")
              .footer-list 
                .list-small 
                  img(src="images/w.png", alt="")
                  .title-small 
                    h3 Jercho-Barber... 
                    p Responsive WorldP 
                  span.like 
                    img(src="images/like 1.png", alt="")
                .stars2 
                  span 
                    img(src="images/star 1.png", alt="")
                  span
                    img(src="images/star 1.png", alt="")
                  span
                    img(src="images/star 1.png", alt="")
                  span 
                    img(src="images/star 1.png", alt="")
                  span 
                    img(src="images/star 1.png", alt="")
                .price2  
                  span $75 
            li.list-img__img4 
              .header-list 
                span BESTELLER 
              .img 
                img(src="images/4.jpg", alt="")
              .footer-list 
                .list-small 
                  img(src="images/w.png", alt="")
                  .title-small 
                    h3 Durand-Beauty &... 
                    p WPML ready WorldP... 
                  span.like 
                    img(src="images/like 1.png", alt="")
                .stars 
                  span 
                    img(src="images/star 1.png", alt="")
                  span
                    img(src="images/star 1.png", alt="")
                  span
                    img(src="images/star 1.png", alt="")
                  span 
                    img(src="images/star 1.png", alt="")
                  span 
                    img(src="images/star 1.png", alt="")
                .price 
                  span $75












































