.title {
  position: relative;
  &__h2 {
    @include text(absolute, 55px, $cl-bl, 28px, sans-serif);
    left: 535px;
    text-align: center;
    line-height: 30px;
  }
  &__link {
    @include text(absolute, 70px, $cl-blue, 16px, serif);
    right: 150px;
    text-decoration: none;
    letter-spacing: 0.05;
    &:hover {
      color: $cl-hover;
    }
  }
}
